<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/asserts/css/register.css">
    <link rel="shortcut icon" href="../static/asserts/images/login_logo.png" />
    <!--    <link rel='stylesheet' id='main-css-css'  href='asserts/css/main.css?ver=1.0' type='text/css' media='all' />-->
    <title>新手上路</title>
    <meta charset="utf-8">
    <style type="text/css">
        #info{
            width: 200px;
            height: 500px;
            background-color: #00FFFF;
            overflow:auto;
        }
    </style>
    <script >
        function check(){
            if(!document.getElementById("agree").checked){
                alert("你必须同意协议");
                return false}
            return true
        }
    </script>
    <title></title>
</head>
<body>
    <form id="login" method="post" th:action="@{/first_login}">
    <h1>欢迎新用户注册</h1>
    <p id="info">亲爱的用户请仔细阅读一下协议如果不仔细你将不能成功注册
        亲爱的用户请仔细阅读一下协议如果不仔细你将不能成功注册
        亲爱的用户请仔细阅读一下协议如果不仔细你将不能成功注册
        亲爱的用户请仔细阅读一下协议如果不仔细你将不能成功注册
        亲爱的用户请仔细阅读一下协议如果不仔细你将不能成功注册
        亲爱的用户请仔细阅读一下协议如果不仔细你将不能成功注册
        亲爱的用户请仔细阅读一下协议如果不仔细你将不能成功注册
        亲爱的用户请仔细阅读一下协议如果不仔细你将不能成功注册
        亲爱的用户请仔细阅读一下协议如果不仔细你将不能成功注册
        亲爱的用户请仔细阅读一下协议如果不仔细你将不能成功注册
        亲爱的用户请仔细阅读一下协议如果不仔细你将不能成功注册
        亲爱的用户请仔细阅读一下协议如果不仔细你将不能成功注册
        亲爱的用户请仔细阅读一下协议如果不仔细你将不能成功注册
        亲爱的用户请仔细阅读一下协议如果不仔细你将不能成功注册
        亲爱的用户请仔细阅读一下协议如果不仔细你将不能成功注册
        亲爱的用户请仔细阅读一下协议如果不仔细你将不能成功注册
        亲爱的用户请仔细阅读一下协议如果不仔细你将不能成功注册
        亲爱的用户请仔细阅读一下协议如果不仔细你将不能成功注册
        亲爱的用户请仔细阅读一下协议如果不仔细你将不能成功注册
        亲爱的用户请仔细阅读一下协议如果不仔细你将不能成功注册
        亲爱的用户请仔细阅读一下协议如果不仔细你将不能成功注册
        亲爱的用户请仔细阅读一下协议如果不仔细你将不能成功注册
    </p>
        <input th:value = "${session.username}" th:name = "username" th:hidden="hidden">
        <input th:value = "${session.password}" th:name = "password" th:hidden="hidden">
    <input type="checkbox" name="agree" id="agree" value="" />我已仔细阅读协议,一定遵守
    <input type="submit" value="login" onclick="return check()" >
    </form>
</body>
</html>

