<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/asserts/css/firstUse.css">
    <link rel="shortcut icon" href="../static/asserts/images/login_logo.png" />
    <title>新手上路</title>
</head>
<body>
<div id="content">
    <div class="login-header">
        <h2 style="text-align:center">欢迎新用户注册</h2>
    </div>
    <form id="login" method="post" th:action="@{/first_login}">
<!--        <h2 style="text-align:center">欢迎新用户注册</h2>-->
    <div class="msg">
        论坛基本的运行和管理机制包括以下几个方面：
        <br>（1）	游客可以访问网站，但是不能够查看每一个帖子的详细信息。如果想要进一步查看信息，必须注册成为用户并登录。
        <br>（2）	用户可以发布帖子，也可以对论坛的其他帖子进行评论和点赞。
        <br>（3）	讨论区类似聊天栏。
        <br>（4）	用户拥有自己的用户空间，可以查看并设置自己的资料（如密码、头像等等），并可以查看自己发布过的帖子等等。
        <br>（5）	论坛有课程推荐板块，主要包括各种公开课以及付费课程的介绍和推荐。用户对想要推荐的课程进行发布帖子，帖子中包括推荐理由等等。
        <br>（6）	论坛有刷题板块，在这个板块用户可以具体讨论某道题的解法。用户对于某道题目可以发布帖子，并且写上自己的解法。
        <br>（7）	论坛有校园周边板块，主要由用户发布帖子，分享校园周边的信息（如吃、喝、玩、乐、学等）。
        <br>（8）	论坛有资源共享板块。在这个板块，用户可以通过链接或上传文件的形式分享自己认为有价值的资源，也可以对资源进行下载。
        <br>（9）	如果用户想要查看某个帖子，可以使用论坛的搜索功能。
        <br>（10）	论坛设有等级制度，用户每次登录、发帖、评论或是被点赞等，都会获得一定的经验。当积累到一定经验值之后，用户会升级。对于不同等级的用户，权限也不相同。权限的设置包括但不限于：阅读权限（高级用户可以对帖子上信息的浏览内容进行权限设置。对于被设置浏览内容权限的帖子的信息，只有等级高于一定级别的用户才能够查看完整的帖子信息。）
    </div>
        <p id="info">
        </p>
<!--        <div class="login-input-box">-->
<!--            <span class="icon icon-user"></span>-->
<!--            <input type="text" name="username" placeholder="Please enter your username">-->
<!--        </div>-->
<!--        <div class="login-input-box">-->
<!--            <span class="icon icon-password"></span>-->
<!--            <input type="password" name="password1" placeholder="Please enter your password">-->
<!--        </div>-->
        <input th:value = "${session.username}" th:name = "username" th:hidden="hidden">
        <input th:value = "${session.password}" th:name = "password" th:hidden="hidden">
        <h4 style="text-align:center"><input type="checkbox" name="agree" id="agree" value="" />我已仔细阅读协议,一定遵守</h4>
        <div class="login-button-box">
            <input type="submit" value="login" form="login" onclick="return check()">
        </div>
    </form>
</div>
<script >
    function check(){
        if(!document.getElementById("agree").checked){
            alert("你必须同意协议");
            return false}
        return true
    }
</script>
</body>
</html>

