<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/asserts/css/register.css">
    <link rel="shortcut icon" href="../static/asserts/images/login_logo.png" />
    <!--    <link rel='stylesheet' id='main-css-css'  href='asserts/css/main.css?ver=1.0' type='text/css' media='all' />-->
    <title>注册</title>
</head>
<body>
<div id="content">
    <div class="login-header">
        <img src="../static/asserts/images/login_logo.png">
    </div>
    <form action="/register_apply" id="updatepassword" method="post" th:action="@{/updatepassword}" >
        <p class="error-msg" style="color: red; text-align: center; font-size: 12px; line-height: 5px" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
        <div class="login-input-box">
            <span class="icon icon-user"></span>
            <input type="text" name="username" placeholder="Please enter your username">
        </div>
        <div class="login-input-box">
            <span class="icon icon-email"></span>
            <input type="email" name="email" placeholder="Please enter your email address">
        </div>
        <div class="login-input-box">
            <span class="icon icon-password"></span>
            <input type="password" name="newpassword" placeholder="Please enter your password">
        </div>
        <div class="login-input-box">
            <span class="icon icon-password"></span>
            <input type="password" name="confirmpassword" placeholder="Please enter your password again">
        </div>
    </form>
    <!--    <div class="remember-box">-->
    <!--        <label>-->
    <!--            <input type="checkbox">&nbsp;Remember Me-->
    <!--        </label>-->
    <!--    </div>-->
    <div class="login-button-box">
        <input type="submit" value="修改" form="updatepassword">
    </div>
    <div class="logon-box">
        <a th:href="@{/register}">register</a>
        <a th:href="@{/login}">login</a>
    </div>
</div>
</body>
</html>