/*#div{*/
/*    width:  800px;*/
/*    height: 800px;*/
/*    border: 1px solid #000;*/
/*    border-radius: 10px;*/
/*    background: white;*/
/*    text-align: center;*/
/*    margin:auto;*/
/*    opacity:0.5;*/
/*}*/
body{
    /*background-size: cover;*/
    /*background: url(../images/bg.jpg) no-repeat center ; //repeat设置重复，center设置位置*/
}

.show_us1 {
    background: #353b65 url("../images/coffee/bg.jpg") center top no-repeat;
    background-size: 100%;
    min-height: 900px;
    overflow-x: hidden;
}
.show_us2 {
    background: #353b65 url("../images/coffee/424.jpg") center top no-repeat;
    background-size: 100%;
    min-height: 690px;
    overflow-x: hidden;
}
.show_us .search-area {
    padding: 50px 0;
}

h3.search-header {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #fff;
    text-align: center;
}

p.search-tag-line {
    font-family: "Droid Serif", serif;
    font-style: italic;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    text-align: center;
}

form.search-form {
    margin: 40px 0 0;
    text-align: center;
}
form.search-form .input-common, form.search-form input.search-term, form.search-form input.search-btn {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-shadow: none;
    border-radius: 0;
    display: inline-block;
    border: none;
    vertical-align: bottom;
}
form.search-form input.search-term {
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    padding: 12px;
    width: 72%;
    color: #858c91;
    margin-right: 10px;
    margin-bottom: 0;
}
form.search-form input.search-term.loading {
    background-image: url("../images/search-loader.gif");
    background-repeat: no-repeat;
    background-position: 98% 50%;
}
form.search-form input.search-btn {
    background-color: #3f4b55;
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
    padding: 14px 30px 15px;
    color: #fff;
}
form.search-form p{
    color: #fff;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 22px;
}

.search-class {
    width: 65px;
    height: 49px;
    position: relative;
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
    margin-bottom: 0;
}
.select-opt {
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
}
form.search-form input.search-btn:hover {
    background-color: #4b5760;
}
#search-error-container label {
    color: #fff;
    padding: 5px;
    font-size: 14px;
}

.lt-ie8 form.search-form input.search-btn {
    padding-top: 12px;
    padding-bottom: 13px;
}